[Unit]
Description=Node Exporter
After=network.target

[Service]
Type=simple
User={{ node_exporter_user }}
Group={{ node_exporter_group }}
ExecStart={{ system_bin_dir }}/node_exporter
Restart=always

[Install]
WantedBy=multi-user.target
